@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
    background-color: #131316;
    color: #ffffff;
    font-family: "Bungee", Sans-serif;
    padding: 0;
    margin: 0;
}

section {
    /*Centering Div*/
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh; /*To give space to scrool through - change later*/
}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;

}